/*! PRIV stylesheet */
/*! 20180215 UE   created */

:root {
  --DEV_TITLEBAR_border: 1px dotted #DDDDDD;
  --DEV_CONT_standard_border: 1px dashed #FF0000;
  --DEV_CONT_flex_border: 1px dashed #FFFF00;
  --DEV_BOX_border: 1px solid #0000FF;
  --DEV_BOX_float_border: 1px solid #00FFFF; /* choose this for development */

/* add / at end of this line to un-comment */
  --DEV_TITLEBAR_border: 0px solid #FF0000;
  --DEV_CONT_standard_border: 0px solid #FF0000;
  --DEV_CONT_flex_border: 0px solid #CC0000;
  --DEV_BOX_border: 1px solid #AAAAAA;
  --DEV_BOX_float_border: 1px solid #FFFFFF; /* choose this for production */
}

.COL_TEXT {
 color: #111111; /* text color */
}
.COLBG_BLACK {
 background-color: #000000; /* background color */
 border-color: #DDDDFF; /* background border color */
}
.COLBG_WHITE {
  background-color: #FFFFFF; /* background color */
  border-color: #DDDDFF; /* background border color */
 }

.COLBG_LIGHTBLUE {
 background-color: #bcd6ff;
 border-color: #69788e;
}
.COLBG_LIGHTGREEN {
 background-color: #baffe8;
 border-color: #6a9184;
}
.COLBG_LIGHTYELLOW {
 background-color: #fbffbc;
 border-color: #999b71;
}

.ALIGN_LEFT {
 margin-left: 2px;
 margin-right: auto;
 text-align: left;
}
.ALIGN_CENTER {
 margin: auto; /* */
 text-align: center;
}
.ALIGN_RIGHT {
 margin-left: auto;
 margin-right: 2px;
 text-align: right;
}
.VALIGN_TOP {
 vertical-align: top;
}
.VALIGN_MIDDLE {
 vertical-align: middle;
}
.VALIGN_BOTTOM {
 vertical-align: bottom;
}

.CONT_STANDARD {
 top: 0px;
 border: var(--DEV_CONT_standard_border);
}
.CONT_FLEX {
 border: var(--DEV_CONT_flex_border);
 display: flex;
}
.CONT_100PCT {
 width: 98%;
 border: var(--DEV_CONT_standard_border);
}
.CONT_90PCT {
 width: 90%;
 border: var(--DEV_CONT_standard_border);
}
.CONT_80PCT {
 width: 80%;
 border: var(--DEV_CONT_standard_border);
}
.CONT_70PCT {
 width: 70%;
 border: var(--DEV_CONT_standard_border);
}
.CONT_75PCT {
 width: 75%;
 border: var(--DEV_CONT_standard_border);
}
.CONT_66PCT {
 width: 66%;
 border: var(--DEV_CONT_standard_border);
}
.CONT_60PCT {
 width: 60%;
 border: var(--DEV_CONT_standard_border);
}
.CONT_50PCT {
 width: 50%;
 border: var(--DEV_CONT_standard_border);
}
.CONT_40PCT {
 width: 40%;
 border: var(--DEV_CONT_standard_border);
}
.CONT_33PCT {
 width: 32%;
 border: var(--DEV_CONT_standard_border);
}
.CONT_30PCT {
 width: 30%;
 border: var(--DEV_CONT_standard_border);
}
.CONT_25PCT {
 width: 25%;
 border: var(--DEV_CONT_standard_border);
}
.CONT_20PCT {
 width: 20%;
 border: var(--DEV_CONT_standard_border);
}
.CONT_10PCT {
 width: 10%;
 border: var(--DEV_CONT_standard_border);
}
.BOX {
 margin: 2px;
 padding: 3px;
 border-radius: 5px;
 border: var(--DEV_BOX_border);
}
.BOX_FLOAT {
 vertical-align:top;
 display: inline-block;
 margin: 2px;
 padding: 3px;
 border-radius: 5px;
 border: var(--DEV_BOX_border);
}

.TEXTFRAME {
 display: inline-block; /* */
 margin: 1px;
 padding: 1px 20px 0px 20px; /* */
 text-decoration: none;
 /* text-align: left; /* */
 border-width: 0px;
 border-style: solid;
 border-radius: 10px 10px;
 /* background-color: #DDDDDD; /* */
 /* color: #111111; /* */
}

a, li, font, body { font-family: Arial, Helvetica, Geneva, Verdana, sans-serif; }
a { text-decoration: none; }
a:hover	{ text-decoration: underline; color: #f00; background: transparent; }

.BUTTON {
 margin: 0px; /* */
 border-width: 2px;
 border-radius: 5px;
 border-style: outset;
 /* background-color: #DDDDDD; /* */
 color: #AAAAAA;
 font-weight: bold;
 text-decoration: none;
 text-align: center;
 width: 90%;
 display: inline-block; /* */
 /* padding: 5px 5px; /* */
 /* font-size: 1.5vw; /* 1vw is  1% of viewport width */
}

/*
a.BUTTON {
  margin: 5px; 
  border: 1px solid #0000FF; 
  padding: 10px 20px; 
  background-color: white; 
  color: black; 
  text-align: center; 
  text-decoration: none; 
}
*/

a.BUTTON:link {
 /* background-color: #DDDDDD; /* */
 color: #111111;
}
a.BUTTON:visited {
 /* background-color: #DDDDDD; /* */
 color: #222222;
}
a.BUTTON:hover {
 background-color: #DDDDDD; /* */
 color: #000000;
}
a.BUTTON:active {
 border-style: inset;
 background-color: red;
 color: black;
}

.LINK {
  opacity: 0.8;
}
a.LINK:hover {
 opacity: 1;
}

.LIST {
 display:list-item;
}

.TITLEBAR {
 position: -webkit-sticky;
 position: sticky;
 top: 0;
 z-index: 9999; /* always on top */
 /* width: 99%; /* */
 /* height: 80px; /* */
 /* background-color: var(--DEV_TITLEBAR_background-color); /* */
 border-radius: 5px;
 border: var(--DEV_TITLEBAR_border);
}
.TITLETEXT {
 text-shadow: 2px 2px 4px #333333;
 font-weight: bold;
 font-size: 5vw; /* 1vw is  1% of viewport width */
 /* text-align: left; /* */
 /* color: #CCCCCC; /* */
 /* text-shadow: 2px 2px 4px #333333; */
 /* font-family: "Comic Sans MS", Verdana, Arial, Helvetica, sans-serif; /* */
 /* font-size: 1.5em; /* 1em is normally 16px on standard windows */
}
.TEXTSHADOW {
 text-shadow: 2px 2px 4px #333333;
}
.TEXTDYNAMIC {
 font-size: 5vw; /* 1vw is  1% of viewport width */
}

.BOTTOMBAR {
 font-size: 8px;
 text-align: center;
 position: fixed;
 width: 99%;
 height: 10px;
 bottom: 0;
 /* background-color: var(--DEV_TITLEBAR_background-color); /* */
 border: var(--DEV_TITLEBAR_border);
}



